.App {
  text-align: center;
  min-height: 100vh;
}

.darkMode {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fff;
  padding: 5px 10px;

}

.row.active .table-striped>tbody>tr:nth-of-type(odd)>* {
  color: white;
}