.App {
  text-align: center;
  min-height: 100vh;
}

.darkMode {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fff;
  padding: 5px 10px;

}

.tablelist.active .table-striped>tbody>tr:nth-of-type(odd)>* {
  color: white;
}

@media only screen and (max-width: 600px) {
  .form-control {
    width: 80%!important;
  }

}